@*whenever user enters any category name and display order, 
the value must be passed to our action method which will
be a post action method for category*@
@model Tufillo.Infrastructure.Models.Category;

<form method="post" asp-action="Create">
    <div class="border p-3">
        <h2 class="text-info pl-3">Add Category</h2>
    </div>
</form>

